.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(219, 230, 246);
    color: black;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-section input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .footer-section button {
    padding: 5px 10px;
  }
  .button
  {
    background-color: rgb(196, 84, 0);
    color: black; /* Default font color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
  }
  .button.active {
    color: red; /* Font color when the button is active */
  }
  
  .button:hover {
    background-color: rgb(196, 84, 0); /* Background color on hover */
  }