.zoomable-image-wrapper {
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s;
  position: relative;
  width: 100%;
  max-width: 200px; /* Set a max-width to control image size */
  height: auto;
  flex: 1 0 21%; /* Control the number of items per row */
  margin: 10px;
}

.zoomable-image-wrapper:hover {
  transform: scale(0.5);
}

.zoomable-image {
  transition: transform 0.3s;
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the container */
}

.zoomed {
  transform: scale(1.5);
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5); /* Center the zoomed image */
}

@media (max-width: 768px) {
  .zoomable-image-wrapper {
      width: 100%;
      flex: 1 0 46%; /* Adjust for smaller screens */
  }
}

@media (min-width: 769px) {
  .zoomable-image-wrapper {
      flex: 1 0 21%; /* Adjust for larger screens */
  }
}
