@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Russo+One&display=swap");
@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);
:root {
  --font-body: "Lato", "Russo One", sans-serif;
  --font-size: 14px;
  --font-weight: 400;
  --background-rgb: #0d2122;
  --background-rgb-50: #0d212280;
  --background-secondary-rgb: #273a3b;
  --body-text-rgb: #2db0b7;
  --body-text-rgb-20: #2db0b733;
  --bg-rgb: #273a3b;
  --body-text-white: #ffffff;
  --body-text-black: #0d2122;
  --input-bg-color: #0d2122;
  --input-br-color: #2db0b7;
  --input-radius: 10px;
  --placeholder-text: #8c8c8c;
  --bs-table-bg: #ffffff00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-body: "Lato", "Russo One", sans-serif;
    --font-size: 14px;
    --font-weight: 400;
    --background-rgb: #0d2122;
    --background-rgb-50: #0d212280;
    --background-secondary-rgb: #273a3b;

    --body-text-rgb: #2db0b7;
    --body-text-rgb-20: #2db0b733;
    --bg-rgb: #273a3b;
    --body-text-white: #ffffff;
    --body-text-black: #0d2122;
    --input-bg-color: #0d2122;
    --input-br-color: #2db0b7;
    --input-radius: 10px;
    --placeholder-text: #8c8c8c;
    --bs-table-bg: #ffffff00;
  }
}
/* @media (prefers-color-scheme: light) {
  :root {
    --font-body: "Lato", "Russo One", sans-serif;
    --font-size: 14px;
    --font-weight: 400;
    --background-rgb: #ffffff;
    --background-secondary-rgb: #273a3b;
    --body-text-rgb: #0d2122;
    --body-text-white: #0d2122;
    --body-text-black: #ffffff;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: var(--body-text-rgb) !important;
  background-color: var(--background-rgb) !important;
  font-family: var(--font-body) !important;
  font-size: var(--font-size) !important;
  font-weight: var(--font-weight) !important;
} */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* color: var(--body-text-rgb) !important; */
  font-weight: 600;
  font-size: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
.display-7 {
  font-size: calc(1rem + 1vw);
  font-weight: 300;
  line-height: 1.2;
}
.fs-7 {
  font-size: 0.8rem;
}
/* .bg-main {
  background-color: var(--background-rgb-50) !important;
} */
.navbar-nav .nav-link {
  color: var(--body-text-black) !important;
  padding-left: 19px !important;
  padding-right: 19px !important;
  font-family: var(--font-body) !important;
}
.main-wapper {
  width: 100%;
  float: left;
  padding-top: 80px;
}
.navbar-toggler {
  color: var(--body-text-rgb) !important;
  border-color: var(--body-text-rgb) !important;
}
.text-active {
  color: var(--body-text-rgb) !important;
}
.text-black {
  color: var(--background-rgb) !important;
}
.bg-btn {
  background-color: var(--body-text-rgb) !important;
}
.bg-disabled-btn {
  background-color: var(--background-secondary-rgb) !important;
}
.bg-secondary-accent {
  background-color: var(--background-secondary-rgb) !important;
}
.wapper {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.cursor-pointer {
  cursor: pointer;
}
.Content-area {
  width: 100%;
  float: left;
  padding-left: 3.8rem;
  padding-top: 2.5rem;
}
.bg-dark {
  background-color: #273a3b !important;
}
@media (max-width: 575.98px) {
  .Content-area {
    width: 100%;
    float: left;
    padding-left: 4.8rem;
    padding-top: 2.5rem;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.bg-sidebar {
  background-color: #273a3b !important;
}

.bg-product {
  background-color: var(--body-text-rgb) !important;
}

.bg-rounded {
  border-radius: 10px !important;
}

.bg-sidebar .bg-transparent {
  background-color: #273a3b !important;
}
.mb-margin {
  margin-left: 90px !important;
}
